<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>44</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>43</string>
					<key>Timestamp</key>
					<string>783773169.452805</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>KNUTICE/Presentation/TabBar/View/UITabBarViewController+binding.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        NotificationCenter.default.publisher(for: UIApplication.willEnterForegroundNotification)
</string>
				<key>leading</key>
				<string>            .store(in: &amp;cancellables)
        
</string>
				<key>trailing</key>
				<string>            .sink(receiveValue: { [weak self] _ in
                // FIXME: 중복 호출 문제 수정, Cold Start에서는 호출되지 않음
                self?.viewModel.fetchDeepLinkIfExists()
</string>
			</dict>
			<key>title</key>
			<string>백그라운드에서 포그라운드로 진입할 때, 딥링크 이동 진입점</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
